<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ivart.makedecision">

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MakeDecisionActivity"
            android:windowSoftInputMode="adjustResize"
                  android:screenOrientation="portrait"/>
        <activity android:name=".Activities.MyDecisionsActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".Activities.SquareActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".Activities.DescriptionActivity"
                  android:windowSoftInputMode="adjustResize"
                  android:screenOrientation="portrait"/>
        <activity android:name=".Activities.DecisionEditActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".Activities.EditDescriptionListActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".Activities.EditDescriptionActivity"
                  android:windowSoftInputMode="adjustResize"
                  android:screenOrientation="portrait"/>
        <activity android:name=".Activities.PieChartActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".Activities.AboutTechnique"
                  android:screenOrientation="portrait"></activity>
    </application>

</manifest>